<link rel="stylesheet" href="/prototype/people-just-to-collect/static/components/footer/footer.css" />
<div class="wrapper footer-main">
  <div class="pull-left footer-l">
    <a href="javascript::"></a>
  </div>
  <div class="pull-left footer-center">
    <ul class="center-ul clearfix">
      <li class="center-link"><a href="javacript:;">联系我们</a></li>
      <li class="center-link"><a href="javacript:;">违法和不良信息举报</a></li>
      <li class="center-link"><a href="javacript:;">网站导航</a></li>
    </ul>
    <p class="footer-p">
      版权所有：陕西省司法厅　备案号：陕ICP备07000324-1号　主办单位(c)陕西省司法厅
    </p>
    <div class="footer-code">
      <span>网站标识码：6100000068</span>
      <a class="code-link" href="javascript:;">陕公网安备 61010402000335号</a>
      <span>联系电话：029-87290356</span>
    </div>
    <p class="footer-p">网站总访问量：6986584次　　今日访问量: 600次</p>
  </div>
  <div class="pull-right footer-r">
    <a href="javascript::"></a>
  </div>
</div>
<script type="text/javascript">
  var main = require('src/main');
</script>
