/*!src/assets/scss/common.scss*/

.column{display:block;flex-basis:0;flex-grow:1;flex-shrink:1;padding:10px}
.columns.is-mobile>.column.is-narrow{flex:none}
.columns.is-mobile>.column.is-full{flex:none;width:100%}
.columns.is-mobile>.column.is-three-quarters{flex:none;width:75%}
.columns.is-mobile>.column.is-two-thirds{flex:none;width:66.6666%}
.columns.is-mobile>.column.is-half{flex:none;width:50%}
.columns.is-mobile>.column.is-one-third{flex:none;width:33.3333%}
.columns.is-mobile>.column.is-one-quarter{flex:none;width:25%}
.columns.is-mobile>.column.is-offset-three-quarters{margin-left:75%}
.columns.is-mobile>.column.is-offset-two-thirds{margin-left:66.6666%}
.columns.is-mobile>.column.is-offset-half{margin-left:50%}
.columns.is-mobile>.column.is-offset-one-third{margin-left:33.3333%}
.columns.is-mobile>.column.is-offset-one-quarter{margin-left:25%}
.columns.is-mobile>.column.is-1{flex:none;width:8.33333%}
.columns.is-mobile>.column.is-offset-1{margin-left:8.33333%}
.columns.is-mobile>.column.is-2{flex:none;width:16.66667%}
.columns.is-mobile>.column.is-offset-2{margin-left:16.66667%}
.columns.is-mobile>.column.is-3{flex:none;width:25%}
.columns.is-mobile>.column.is-offset-3{margin-left:25%}
.columns.is-mobile>.column.is-4{flex:none;width:33.33333%}
.columns.is-mobile>.column.is-offset-4{margin-left:33.33333%}
.columns.is-mobile>.column.is-5{flex:none;width:41.66667%}
.columns.is-mobile>.column.is-offset-5{margin-left:41.66667%}
.columns.is-mobile>.column.is-6{flex:none;width:50%}
.columns.is-mobile>.column.is-offset-6{margin-left:50%}
.columns.is-mobile>.column.is-7{flex:none;width:58.33333%}
.columns.is-mobile>.column.is-offset-7{margin-left:58.33333%}
.columns.is-mobile>.column.is-8{flex:none;width:66.66667%}
.columns.is-mobile>.column.is-offset-8{margin-left:66.66667%}
.columns.is-mobile>.column.is-9{flex:none;width:75%}
.columns.is-mobile>.column.is-offset-9{margin-left:75%}
.columns.is-mobile>.column.is-10{flex:none;width:83.33333%}
.columns.is-mobile>.column.is-offset-10{margin-left:83.33333%}
.columns.is-mobile>.column.is-11{flex:none;width:91.66667%}
.columns.is-mobile>.column.is-offset-11{margin-left:91.66667%}
.columns.is-mobile>.column.is-12{flex:none;width:100%}
.columns.is-mobile>.column.is-offset-12{margin-left:100%}
@media screen and (max-width:768px){.column.is-narrow-mobile{flex:none}
.column.is-full-mobile{flex:none;width:100%}
.column.is-three-quarters-mobile{flex:none;width:75%}
.column.is-two-thirds-mobile{flex:none;width:66.6666%}
.column.is-half-mobile{flex:none;width:50%}
.column.is-one-third-mobile{flex:none;width:33.3333%}
.column.is-one-quarter-mobile{flex:none;width:25%}
.column.is-offset-three-quarters-mobile{margin-left:75%}
.column.is-offset-two-thirds-mobile{margin-left:66.6666%}
.column.is-offset-half-mobile{margin-left:50%}
.column.is-offset-one-third-mobile{margin-left:33.3333%}
.column.is-offset-one-quarter-mobile{margin-left:25%}
.column.is-1-mobile{flex:none;width:8.33333%}
.column.is-offset-1-mobile{margin-left:8.33333%}
.column.is-2-mobile{flex:none;width:16.66667%}
.column.is-offset-2-mobile{margin-left:16.66667%}
.column.is-3-mobile{flex:none;width:25%}
.column.is-offset-3-mobile{margin-left:25%}
.column.is-4-mobile{flex:none;width:33.33333%}
.column.is-offset-4-mobile{margin-left:33.33333%}
.column.is-5-mobile{flex:none;width:41.66667%}
.column.is-offset-5-mobile{margin-left:41.66667%}
.column.is-6-mobile{flex:none;width:50%}
.column.is-offset-6-mobile{margin-left:50%}
.column.is-7-mobile{flex:none;width:58.33333%}
.column.is-offset-7-mobile{margin-left:58.33333%}
.column.is-8-mobile{flex:none;width:66.66667%}
.column.is-offset-8-mobile{margin-left:66.66667%}
.column.is-9-mobile{flex:none;width:75%}
.column.is-offset-9-mobile{margin-left:75%}
.column.is-10-mobile{flex:none;width:83.33333%}
.column.is-offset-10-mobile{margin-left:83.33333%}
.column.is-11-mobile{flex:none;width:91.66667%}
.column.is-offset-11-mobile{margin-left:91.66667%}
.column.is-12-mobile{flex:none;width:100%}
.column.is-offset-12-mobile{margin-left:100%}}
@media screen and (min-width:769px),print{.column.is-narrow,.column.is-narrow-tablet{flex:none}
.column.is-full,.column.is-full-tablet{flex:none;width:100%}
.column.is-three-quarters,.column.is-three-quarters-tablet{flex:none;width:75%}
.column.is-two-thirds,.column.is-two-thirds-tablet{flex:none;width:66.6666%}
.column.is-half,.column.is-half-tablet{flex:none;width:50%}
.column.is-one-third,.column.is-one-third-tablet{flex:none;width:33.3333%}
.column.is-one-quarter,.column.is-one-quarter-tablet{flex:none;width:25%}
.column.is-offset-three-quarters,.column.is-offset-three-quarters-tablet{margin-left:75%}
.column.is-offset-two-thirds,.column.is-offset-two-thirds-tablet{margin-left:66.6666%}
.column.is-offset-half,.column.is-offset-half-tablet{margin-left:50%}
.column.is-offset-one-third,.column.is-offset-one-third-tablet{margin-left:33.3333%}
.column.is-offset-one-quarter,.column.is-offset-one-quarter-tablet{margin-left:25%}
.column.is-1,.column.is-1-tablet{flex:none;width:8.33333%}
.column.is-offset-1,.column.is-offset-1-tablet{margin-left:8.33333%}
.column.is-2,.column.is-2-tablet{flex:none;width:16.66667%}
.column.is-offset-2,.column.is-offset-2-tablet{margin-left:16.66667%}
.column.is-3,.column.is-3-tablet{flex:none;width:25%}
.column.is-offset-3,.column.is-offset-3-tablet{margin-left:25%}
.column.is-4,.column.is-4-tablet{flex:none;width:33.33333%}
.column.is-offset-4,.column.is-offset-4-tablet{margin-left:33.33333%}
.column.is-5,.column.is-5-tablet{flex:none;width:41.66667%}
.column.is-offset-5,.column.is-offset-5-tablet{margin-left:41.66667%}
.column.is-6,.column.is-6-tablet{flex:none;width:50%}
.column.is-offset-6,.column.is-offset-6-tablet{margin-left:50%}
.column.is-7,.column.is-7-tablet{flex:none;width:58.33333%}
.column.is-offset-7,.column.is-offset-7-tablet{margin-left:58.33333%}
.column.is-8,.column.is-8-tablet{flex:none;width:66.66667%}
.column.is-offset-8,.column.is-offset-8-tablet{margin-left:66.66667%}
.column.is-9,.column.is-9-tablet{flex:none;width:75%}
.column.is-offset-9,.column.is-offset-9-tablet{margin-left:75%}
.column.is-10,.column.is-10-tablet{flex:none;width:83.33333%}
.column.is-offset-10,.column.is-offset-10-tablet{margin-left:83.33333%}
.column.is-11,.column.is-11-tablet{flex:none;width:91.66667%}
.column.is-offset-11,.column.is-offset-11-tablet{margin-left:91.66667%}
.column.is-12,.column.is-12-tablet{flex:none;width:100%}
.column.is-offset-12,.column.is-offset-12-tablet{margin-left:100%}}
@media screen and (min-width:1000px){.column.is-narrow-desktop{flex:none}
.column.is-full-desktop{flex:none;width:100%}
.column.is-three-quarters-desktop{flex:none;width:75%}
.column.is-two-thirds-desktop{flex:none;width:66.6666%}
.column.is-half-desktop{flex:none;width:50%}
.column.is-one-third-desktop{flex:none;width:33.3333%}
.column.is-one-quarter-desktop{flex:none;width:25%}
.column.is-offset-three-quarters-desktop{margin-left:75%}
.column.is-offset-two-thirds-desktop{margin-left:66.6666%}
.column.is-offset-half-desktop{margin-left:50%}
.column.is-offset-one-third-desktop{margin-left:33.3333%}
.column.is-offset-one-quarter-desktop{margin-left:25%}
.column.is-1-desktop{flex:none;width:8.33333%}
.column.is-offset-1-desktop{margin-left:8.33333%}
.column.is-2-desktop{flex:none;width:16.66667%}
.column.is-offset-2-desktop{margin-left:16.66667%}
.column.is-3-desktop{flex:none;width:25%}
.column.is-offset-3-desktop{margin-left:25%}
.column.is-4-desktop{flex:none;width:33.33333%}
.column.is-offset-4-desktop{margin-left:33.33333%}
.column.is-5-desktop{flex:none;width:41.66667%}
.column.is-offset-5-desktop{margin-left:41.66667%}
.column.is-6-desktop{flex:none;width:50%}
.column.is-offset-6-desktop{margin-left:50%}
.column.is-7-desktop{flex:none;width:58.33333%}
.column.is-offset-7-desktop{margin-left:58.33333%}
.column.is-8-desktop{flex:none;width:66.66667%}
.column.is-offset-8-desktop{margin-left:66.66667%}
.column.is-9-desktop{flex:none;width:75%}
.column.is-offset-9-desktop{margin-left:75%}
.column.is-10-desktop{flex:none;width:83.33333%}
.column.is-offset-10-desktop{margin-left:83.33333%}
.column.is-11-desktop{flex:none;width:91.66667%}
.column.is-offset-11-desktop{margin-left:91.66667%}
.column.is-12-desktop{flex:none;width:100%}
.column.is-offset-12-desktop{margin-left:100%}}
@media screen and (min-width:1192px){.column.is-narrow-widescreen{flex:none}
.column.is-full-widescreen{flex:none;width:100%}
.column.is-three-quarters-widescreen{flex:none;width:75%}
.column.is-two-thirds-widescreen{flex:none;width:66.6666%}
.column.is-half-widescreen{flex:none;width:50%}
.column.is-one-third-widescreen{flex:none;width:33.3333%}
.column.is-one-quarter-widescreen{flex:none;width:25%}
.column.is-offset-three-quarters-widescreen{margin-left:75%}
.column.is-offset-two-thirds-widescreen{margin-left:66.6666%}
.column.is-offset-half-widescreen{margin-left:50%}
.column.is-offset-one-third-widescreen{margin-left:33.3333%}
.column.is-offset-one-quarter-widescreen{margin-left:25%}
.column.is-1-widescreen{flex:none;width:8.33333%}
.column.is-offset-1-widescreen{margin-left:8.33333%}
.column.is-2-widescreen{flex:none;width:16.66667%}
.column.is-offset-2-widescreen{margin-left:16.66667%}
.column.is-3-widescreen{flex:none;width:25%}
.column.is-offset-3-widescreen{margin-left:25%}
.column.is-4-widescreen{flex:none;width:33.33333%}
.column.is-offset-4-widescreen{margin-left:33.33333%}
.column.is-5-widescreen{flex:none;width:41.66667%}
.column.is-offset-5-widescreen{margin-left:41.66667%}
.column.is-6-widescreen{flex:none;width:50%}
.column.is-offset-6-widescreen{margin-left:50%}
.column.is-7-widescreen{flex:none;width:58.33333%}
.column.is-offset-7-widescreen{margin-left:58.33333%}
.column.is-8-widescreen{flex:none;width:66.66667%}
.column.is-offset-8-widescreen{margin-left:66.66667%}
.column.is-9-widescreen{flex:none;width:75%}
.column.is-offset-9-widescreen{margin-left:75%}
.column.is-10-widescreen{flex:none;width:83.33333%}
.column.is-offset-10-widescreen{margin-left:83.33333%}
.column.is-11-widescreen{flex:none;width:91.66667%}
.column.is-offset-11-widescreen{margin-left:91.66667%}
.column.is-12-widescreen{flex:none;width:100%}
.column.is-offset-12-widescreen{margin-left:100%}}
.columns{margin-left:-10px;margin-right:-10px;margin-top:-10px}
.columns:last-child{margin-bottom:-10px}
.columns:not(:last-child){margin-bottom:10px}
.columns.is-centered{justify-content:center}
.columns.is-gapless{margin-left:0;margin-right:0;margin-top:0}
.columns.is-gapless:last-child{margin-bottom:0}
.columns.is-gapless:not(:last-child){margin-bottom:20px}
.columns.is-gapless>.column{margin:0;padding:0}
@media screen and (min-width:769px),print{.columns.is-grid{flex-wrap:wrap}
.columns.is-grid>.column{max-width:33.3333%;padding:10px;width:33.3333%}
.columns.is-grid>.column+.column{margin-left:0}}
.columns.is-mobile{display:flex}
.columns.is-multiline{flex-wrap:wrap}
.columns.is-vcentered{align-items:center}
@media screen and (min-width:769px),print{.columns:not(.is-desktop){display:flex}}
@media screen and (min-width:1000px){.columns.is-desktop{display:flex}}
.input,.textarea{-moz-appearance:none;-webkit-appearance:none;align-items:center;border:1px solid transparent;border-radius:3px;box-shadow:none;display:inline-flex;font-size:14px;height:36px;justify-content:flex-start;line-height:1.5;padding-bottom:calc(0.375em - 1px);padding-left:calc(0.625em - 1px);padding-right:calc(0.625em - 1px);padding-top:calc(0.375em - 1px);position:relative;vertical-align:top;background-color:#fff;border:1px solid #eee;color:#333;max-width:100%;width:100%}
.input:focus,.input.is-focused,.input:active,.input.is-active,.textarea:focus,.textarea.is-focused,.textarea:active,.textarea.is-active{outline:0}
.input[disabled],.textarea[disabled]{cursor:not-allowed}
.input:hover,.input.is-hovered,.textarea:hover,.textarea.is-hovered{border-color:#b5b5b5}
.input:focus,.input.is-focused,.input:active,.input.is-active,.textarea:focus,.textarea.is-focused,.textarea:active,.textarea.is-active{border-color:#b5b5b5}
.input[disabled],.textarea[disabled]{background-color:#f5f5f5;border-color:#f5f5f5;box-shadow:none;color:#7a7a7a}
.input[disabled]::-moz-placeholder,.textarea[disabled]::-moz-placeholder{color:rgba(51,51,51,.3)}
.input[disabled]::-webkit-input-placeholder,.textarea[disabled]::-webkit-input-placeholder{color:rgba(51,51,51,.3)}
.input[disabled]:-moz-placeholder,.textarea[disabled]:-moz-placeholder{color:rgba(51,51,51,.3)}
.input[disabled]:-ms-input-placeholder,.textarea[disabled]:-ms-input-placeholder{color:rgba(51,51,51,.3)}
.input[type=search],.textarea[type=search]{border-radius:290486px}
.input.is-fullwidth,.textarea.is-fullwidth{display:block;width:100%}
.input.is-inline,.textarea.is-inline{display:inline;width:auto}
.textarea{display:block;max-height:600px;max-width:100%;min-height:120px;min-width:100%;padding:.625em;resize:vertical}
.checkbox,.radio{align-items:center;cursor:pointer;display:inline-flex;flex-wrap:wrap;justify-content:flex-start;line-height:1.5;position:relative;vertical-align:top}
.checkbox input,.radio input{cursor:pointer;margin-right:.5em}
.checkbox:hover,.radio:hover{color:gray}
.checkbox[disabled],.radio[disabled]{color:#7a7a7a;cursor:not-allowed}
.radio+.radio{margin-left:.5em}
.select{display:inline-block;height:36px;position:relative;vertical-align:top}
.select:after{content:" ";position:absolute;display:block;width:8px;height:8px;border:1px solid gray;border-right:0;border-top:0;pointer-events:none;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);margin-top:-.375em;right:1.125em;top:50%;z-index:4}
.select select{-moz-appearance:none;-webkit-appearance:none;align-items:center;border:1px solid transparent;border-radius:3px;box-shadow:none;display:inline-flex;font-size:14px;height:36px;justify-content:flex-start;line-height:1.5;padding-bottom:calc(0.375em - 1px);padding-left:calc(0.625em - 1px);padding-right:calc(0.625em - 1px);padding-top:calc(0.375em - 1px);position:relative;vertical-align:top;background-color:#fff;border:1px solid #eee;color:#333;cursor:pointer;display:block;font-size:1em;outline:0;padding-right:2.5em}
.select select:focus,.select select.is-focused,.select select:active,.select select.is-active{outline:0}
.select select[disabled]{cursor:not-allowed}
.select select:hover,.select select.is-hovered{border-color:#b5b5b5}
.select select:focus,.select select.is-focused,.select select:active,.select select.is-active{border-color:#b5b5b5}
.select select[disabled]{background-color:#f5f5f5;border-color:#f5f5f5;box-shadow:none;color:#7a7a7a}
.select select[disabled]::-moz-placeholder{color:rgba(51,51,51,.3)}
.select select[disabled]::-webkit-input-placeholder{color:rgba(51,51,51,.3)}
.select select[disabled]:-moz-placeholder{color:rgba(51,51,51,.3)}
.select select[disabled]:-ms-input-placeholder{color:rgba(51,51,51,.3)}
.select select:hover{border-color:#b5b5b5}
.select select::-ms-expand{display:none}
.select:hover:after{border-color:gray}
.select.is-fullwidth{width:100%}
.select.is-fullwidth select{width:100%}
.label{color:#333;display:block;font-size:14px;font-weight:700}
.label .required{padding:0 4px;color:#ec4040}
.label:not(:last-child){margin-bottom:.5em}
.help{display:block;font-size:14px;margin-top:.25rem}
.select select{line-height:1}
.field:not(:last-child){margin-bottom:20px}
.field.is-grouped{display:flex;justify-content:flex-start}
.field.is-grouped>.control{flex-basis:0;flex-shrink:0}
.field.is-grouped>.control:not(:last-child){margin-bottom:0;margin-right:20px}
.field.is-grouped>.control.is-expanded{flex-grow:1;flex-shrink:1}
.field.is-grouped.is-grouped-centered{justify-content:center}
.field.is-grouped.is-grouped-right{justify-content:flex-end}
@media screen and (min-width:769px),print{.field.is-horizontal{display:flex}}
.field-label.is-normal{padding-top:5px}
.field-label .label{font-size:inherit}
@media screen and (max-width:768px){.field-label{margin-bottom:10px}}
@media screen and (min-width:769px),print{.field-label{flex-basis:0;flex-grow:1;flex-shrink:0;margin-right:20px;text-align:right}}
@media screen and (min-width:769px),print{.field-body{display:flex;flex-basis:0;flex-grow:5;flex-shrink:1}
.field-body .field{flex-shrink:1}
.field-body .field:not(.is-narrow){flex-grow:1}
.field-body .field:not(:last-child){margin-bottom:0;margin-right:.75rem}}
.control{position:relative;margin:0;padding:0;font-size:14px;text-align:left}
.control.has-icon .icon{position:absolute;top:0;z-index:4;align-items:center;display:inline-flex;justify-content:center;width:36px;height:36px;pointer-events:none;color:gray}
.control.has-icon .input:focus+.icon{color:#585858}
.control.has-icon:not(.has-icon-right) .icon{left:0}
.control.has-icon:not(.has-icon-right) .input{padding-left:36px}
.control.has-icon.has-icon-right .icon{right:0}
.control.has-icon.has-icon-right .input{padding-right:36px}
.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;box-shadow:0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;border:1px solid transparent;padding:10px 25px;font-size:14px;line-height:1.25;transition:all .2s ease-in-out;color:#585858;background-color:#e0e1e2;cursor:pointer}
.btn:focus,.btn:hover{text-decoration:none;color:#333;background-color:#c6c8c9}
.btn:focus,.btn.focus{outline:0;color:#333;background-color:#c6c8c9}
.btn.disabled,.btn:disabled{opacity:.65}
.btn:active,.btn.active{color:#333;background-color:#b8bbbd}
a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}
.basic{color:#585858;background-color:transparent;border-color:#e5e5e5}
.basic:focus,.basic:hover{color:#585858;background-color:rgba(0,0,0,0);border-color:#d1d1d1}
.basic.disabled,.basic:disabled{background-color:transparent;border-color:#e5e5e5}
.basic:active,.basic.active{color:#585858;background-color:rgba(0,0,0,0);background-image:none;border-color:#c6c6c6}
.basic.inverted{color:#fff;background-color:transparent;border-color:#fff}
.basic.inverted:focus,.basic.inverted:hover{color:#fff;background-color:rgba(0,0,0,0);border-color:#ebebeb}
.basic.inverted.disabled,.basic.inverted:disabled{background-color:transparent;border-color:#fff}
.basic.inverted:active,.basic.inverted.active{color:#fff;background-color:rgba(0,0,0,0);background-image:none;border-color:#e0e0e0}
.brand{color:#fff;background-color:#233FAB;border-color:#233FAB}
.brand:focus,.brand:hover{color:#fff;background-color:#1f3796;border-color:#1c3389}
.brand.disabled,.brand:disabled{background-color:#233FAB;border-color:#233FAB}
.brand:active,.brand.active{color:#fff;background-color:#1a2f81;background-image:none;border-color:#192c78}
.brand:focus,.brand:hover{color:#fff;background-color:#1f3796}
.btn-lg{padding:15px 30px;font-size:16px;line-height:1.33333}
.btn-sm{padding:5px 10px;font-size:12px;line-height:1.5}
.btn-block{display:block;width:100%}
.btn-block+.btn-block{margin-top:5px}
input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block{width:100%}
.btn-group{position:relative;display:inline-flex;vertical-align:middle}
.btn-group>.btn{position:relative;flex:0 1 auto;margin-bottom:0}
.btn-group>.btn.brand{color:#233FAB;background-color:transparent;border-color:#233FAB}
.btn-group>.btn.brand:focus,.btn-group>.btn.brand:hover{color:#233FAB;background-color:rgba(0,0,0,0);border-color:#1c3389}
.btn-group>.btn.brand.disabled,.btn-group>.btn.brand:disabled{background-color:transparent;border-color:#233FAB}
.btn-group>.btn.brand:active,.btn-group>.btn.brand.active{color:#233FAB;background-color:rgba(0,0,0,0);background-image:none;border-color:#192c78}
.btn-group>.btn.brand:focus,.btn-group>.btn.brand:hover{color:#fff;background-color:#233FAB;border-color:#233FAB}
.btn-group>.btn:hover{z-index:2}
.btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active{z-index:2}
.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group{margin-left:-1px}
.btn-group>.btn:not(:first-child):not(:last-child){border-radius:0}
.btn-group>.btn:first-child{margin-left:0}
table{background-color:transparent}
th{text-align:left}
.table{width:100%;max-width:100%}
.table>thead>tr>th,.table>thead>tr>td,.table>tbody>tr>th,.table>tbody>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td{padding:8px;line-height:1.5;vertical-align:top;border-top:1px solid #eee}
.table>thead>tr>th{vertical-align:bottom;border-bottom:2px solid #eee}
.table>caption+thead>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>th,.table>thead:first-child>tr:first-child>td{border-top:0}
.table>tbody+tbody{border-top:2px solid #eee}
.table .table{background-color:#f5f5f5}
.table-condensed>thead>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>tfoot>tr>td{padding:5px}
.table-bordered{border:1px solid #eee}
.table-bordered>thead>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>tfoot>tr>td{border:1px solid #eee}
.table-bordered>thead>tr>th,.table-bordered>thead>tr>td{border-bottom-width:2px}
.table-striped>tbody>tr:nth-of-type(odd){background-color:#f9f9f9}
.table-hover>tbody>tr:hover{background-color:#fafafa}
.alert{position:relative;width:100%;padding:10px 15px;line-height:1.8;border-radius:5px;background-color:#f4f4f4;opacity:1;transition:opacity .15s linear}
.alert .close{position:absolute;top:0;right:0;display:block;width:40px;height:40px;line-height:40px;text-align:center;font-size:18px;font-weight:100;color:#ccc;cursor:pointer}
.alert .close:hover{color:#233FAB}
.alert.has-icon{padding-left:40px;padding-right:40px}
.alert.has-icon .icon{position:absolute;left:0;top:3px;display:block;width:40px;height:40px;line-height:40px;text-align:center}
.alert.has-icon .iconfont{font-size:18px}
.alert.is-primary{color:#348ac7;background-color:#d3e6f4}
.alert.is-success{color:#090;background-color:#cfc}
.alert.is-warning{color:#fdc00f;background-color:#fff8e3}
.alert.is-danger{color:#ec4040;background-color:#fde7e7}
@font-face{font-family:iconfont;src:url(/prototype/people-just-to-collect/static/assets/fonts/iconfont.eot);src:url(/prototype/people-just-to-collect/static/assets/fonts/iconfont.eot?) format("embedded-opentype"),url(/prototype/people-just-to-collect/static/assets/fonts/iconfont.woff) format("woff"),url(/prototype/people-just-to-collect/static/assets/fonts/iconfont.ttf) format("truetype"),url(/prototype/people-just-to-collect/static/assets/fonts/iconfont.svg) format("svg")}
.iconfont{font-family:iconfont!important;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-sanjiaoright:before{content:"\e6b7"}
.icon-alipay:before{content:"\e65f"}
.icon-weixin-copy:before{content:"\e654"}
.icon-sousuo1:before{content:"\e615"}
.icon-left:before{content:"\e65c"}
.icon-right:before{content:"\e65e"}
.icon-dingwei:before{content:"\e667"}
.icon-xiaoxi:before{content:"\e618"}
.icon-tubiaozhizuo-:before{content:"\e607"}
.icon-duibi1:before{content:"\e786"}
.icon-fandui:before{content:"\e635"}
.icon-zhichi:before{content:"\e637"}
.list{padding:0;margin:0;list-style-type:none;font-size:16px}
.list li{position:relative;border-bottom:1px dotted #e5e5e5}
.list li:last-child{border-bottom:0}
.list li:hover{border-color:gray}
.list li a{padding:10px 45px 10px 12px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.list li .bull{position:absolute;left:0;top:19px;width:4px;height:4px;background-color:gray}
.list li .updatetime{position:absolute;top:10px;right:0;color:gray}
.list.is-media a.item{display:block;padding:20px 0;text-overflow:inherit;white-space:inherit}
.list.is-media a.item .title{margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#333}
.list.is-media a.item .info{padding:10px 0;color:gray}
.list.is-media a.item .desc{color:gray}
.list.is-media a.item:hover .title{color:#233FAB}
.list.has-thumb li{position:relative;min-height:155px}
.list.has-thumb li:before,.list.has-thumb li:after{content:" ";display:table}
.list.has-thumb li:after{clear:both}
.list.has-thumb .thumb{position:absolute;left:0;top:23px;width:150px;height:115px;background-position:center;background-repeat:no-repeat;background-size:cover}
.list.has-thumb .item{padding-left:150px!important;margin-left:20px}
@media screen and (max-width:768px){.list li a{padding-right:0}
.list li .updatetime{display:none}
.list.is-media a.item .title{text-overflow:inherit;white-space:inherit}
.list.has-thumb .thumb{position:relative;width:auto;height:200px}
.list.has-thumb .item{margin-left:0;margin-top:20px;padding-left:0!important}}
.hide{display:none!important}
.show{display:block!important}
.fade{opacity:0;transition:opacity .15s linear}
.fade.in{opacity:1}
.modal-open{overflow:hidden}
.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{transition:-webkit-transform .3s ease-out;transition:transform .3s ease-out;transition:transform .3s ease-out,-webkit-transform .3s ease-out;-webkit-transform:translate(0,-25%);transform:translate(0,-25%)}
.modal.in .modal-dialog{-webkit-transform:translate(0,0);transform:translate(0,0)}
.modal-open .modal{overflow-x:hidden;overflow-y:auto}
.modal-dialog{position:relative;width:580px;margin:60px auto 0}
.modal-content{position:relative;background-color:#fff;border-radius:10px;box-shadow:0 0 50px rgba(0,0,0,.3);background-clip:padding-box;outline:0}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{opacity:0}
.modal-backdrop.in{opacity:.5}
.modal-header{position:relative;padding:15px}
.modal-header:before,.modal-header:after{content:" ";display:table}
.modal-header:after{clear:both}
.modal-header .close{position:absolute;top:0;right:20px;width:44px;height:50px;line-height:44px;text-align:center;font-size:30px;font-weight:100;border-radius:0 0 5px 5px;color:#fff;background-color:#233FAB}
.modal-header .close:hover{color:#fff;background-color:#1f3796}
.modal-title{margin:0;line-height:1.5;color:#333}
.modal-body{position:relative;padding:15px}
.modal-footer{padding:15px;text-align:right}
.modal-footer:before,.modal-footer:after{content:" ";display:table}
.modal-footer:after{clear:both}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}
.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}
.panel{box-shadow:0 0 5px rgba(0,0,0,.1);border-bottom:1px solid #e0e0e0;background-color:#fff}
.panel .panel-heading,.panel .panel-body,.panel .panel-footer{padding:20px;border-bottom:1px solid #eee}
.panel .panel-footer{border-bottom:0}
.panel.is-rimless .panel-heading{padding:20px;border-bottom:0}
.panel.is-rimless .panel-heading+.panel-body{padding-top:0}
.panel.is-rimless .panel-body{padding:20px;border-bottom:0}
.panel.is-rimless .panel-body+.panel-footer{padding-top:0}
.panel.is-rimless .panel-footer{padding:20px}
.panel.is-gapless .panel-heading,.panel.is-gapless .panel-body,.panel.is-gapless .panel-footer{padding-left:0;padding-right:0}
.share-title{font-size:16px;line-height:32px}
.social-share .iconfont{position:relative;display:inline-block;margin-right:6px;width:32px;height:32px;font-size:20px;border-radius:6px;line-height:32px;color:#fff;text-align:center;vertical-align:middle;transition:background .6s ease-out 0s}
.social-share .iconfont:hover{background:#666;color:#fff}
.social-share .iconfont:last-child{margin-right:0}
.social-share .icon-weibo{background-color:#e6162d}
.social-share .icon-weibo:hover{background:#a00f1f}
.social-share .icon-qq{background-color:#56b6e7}
.social-share .icon-qq:hover{background:#1e96d3}
.social-share .icon-wechat{position:relative;background-color:#00b80c}
.social-share .icon-wechat:hover{background:#008509}
.social-share .icon-wechat:hover .wechat-qrcode{display:block}
.social-share .icon-wechat .wechat-qrcode{position:absolute;z-index:9;top:-290px;left:-84px;width:200px;display:none;border-radius:5px;border:1px solid #ddd;box-shadow:0 0 20px rgba(0,0,0,.2);font-size:12px;font-family:Tahoma,"Helvetica Neue","Lantinghei SC",Arial,"Microsoft Yahei","Hiragino Sans GB",STXihei,Helvetica,sans-serif;text-align:center;color:#484848;background-color:#fff;transition:all 200ms;-webkit-tansition:all 350ms;-moz-transition:all 350ms}
.social-share .icon-wechat .wechat-qrcode:after,.social-share .icon-wechat .wechat-qrcode:before{position:absolute;z-index:10;content:'';left:50%;margin-left:-8px;bottom:-16px;width:0;height:0;border:8px solid transparent;border-top-color:#fff}
.social-share .icon-wechat .wechat-qrcode:after{z-index:9;margin-top:-12px;border-top-color:#666}
.social-share .icon-wechat .wechat-qrcode h4{margin:0;padding:4px 0;font-weight:400;font-size:16px;border-bottom:1px solid #e5e5e5;border-radius:5px 5px 0 0;background-color:#f0f0f0}
.social-share .icon-wechat .wechat-qrcode .qrcode{margin:15px auto 10px;width:150px}
.social-share .icon-wechat .wechat-qrcode .help{padding:0 10px 10px;line-height:1.6;font-size:13px;color:#999}
.social-share .icon-wechat .wechat-qrcode.bottom{top:42px}
.social-share .icon-wechat .wechat-qrcode.bottom:before,.social-share .icon-wechat .wechat-qrcode.bottom:after{top:-16px;border-top-color:transparent;border-bottom-color:#f0f0f0}
.social-share .icon-wechat .wechat-qrcode.bottom:after{margin-top:0;border-bottom-color:#666}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,footer,header,nav,section{display:block}
h1{font-size:2em;margin:.67em 0}
figcaption,figure,main{display:block}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
abbr[title]{border-bottom:0;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}
b,strong{font-weight:inherit}
b,strong{font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
template{display:none}
[hidden]{display:none}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.mt{margin-top:20px!important}
.mb{margin-bottom:20px!important}
.ml{margin-left:20px!important}
.mr{margin-right:20px!important}
*{box-sizing:border-box}
:before,:after{box-sizing:border-box}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{width:100%;height:100%;position:relative;line-height:1.5;font-family:Tahoma,"Helvetica Neue","Lantinghei SC",Arial,"Microsoft Yahei","Hiragino Sans GB",STXihei,Helvetica,sans-serif;font-size:14px;color:#585858;background-color:#F2F2F2}
input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#585858;text-decoration:none}
a:hover,a:focus{color:#2747c0;outline:0}
figure{margin:0}
img{vertical-align:middle}
h1,.h1{font-size:36px}
h2,.h2{font-size:30px}
h3,.h3{font-size:24px}
h4,.h4{font-size:18px}
h5,.h5{font-size:14px}
h6,.h6{font-size:12px}
pre code{font-family:Consolas,Monaco,monospace}
.page-wrapper{transition:-webkit-transform .5s ease;transition:transform .5s ease;transition:transform .5s ease,-webkit-transform .5s ease}
.container{position:relative}
@media screen and (min-width:1000px){.container{margin:0 auto;max-width:960px;width:960px}
.container.is-fluid{margin:0 20px;max-width:none;width:auto}}
@media screen and (min-width:1192px){.container{max-width:1152px;width:1152px}}
@media screen and (min-width:1384px){.container{max-width:1344px;width:1344px}}
@media screen and (max-width:768px){.container{padding:0 20px}}
.wrapper{position:relative;display:block;margin-left:auto;margin-right:auto;width:1100px}
.darft-crumbs{padding:20px 0}
.darft-crumbs .iconfont{margin-right:5px;vertical-align:middle;font-size:20px;color:#7C97BE}
.darft-crumbs a{color:#233FAB}
.darft-crumbs a:hover{color:red}
.draft-list-wrap{margin-bottom:20px;width:100%;height:auto}
.draft-list-wrap .span-3{width:calc(100%/24*3)}
.draft-list-wrap .span-2{width:calc(100%/24*2)}
.draft-list-wrap .span-4{width:calc(100%/24*4)}
.draft-list-wrap .span-5{width:calc(100%/24*5)}
.draft-list-wrap .span-6{width:calc(100%/24*6)}
.draft-list-wrap .span-7{width:calc(100%/24*7)}
.draft-list-wrap .span-8{width:calc(100%/24*8)}
.draft-list-wrap .draft-title{position:relative;padding-left:32px;width:100%;height:50px;line-height:50px;font-size:18px;color:#233FAB;background-color:rgba(126,148,255,.1)}
.draft-list-wrap .draft-title::after{position:absolute;top:0;bottom:0;left:0;width:4px;content:'';background-color:#233FAB}
.draft-list-wrap .list-wrap{padding:0 30px 18px;width:100%;height:auto;background-color:#fff}
.draft-list-wrap .list-wrap .list-head{padding:14px 0;border-bottom:1px dashed #ccc}
.draft-list-wrap .list-wrap .hd-nape{padding-right:10px;color:#222;font-size:16px}
.draft-list-wrap .list-wrap .hd-nape:last-child{padding-right:30px;text-align:right}
.draft-list-wrap .list-wrap .list-item{padding:14px 0;border-bottom:1px dashed #ccc}
.draft-list-wrap .list-wrap .nape{padding-right:10px;color:#666;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.draft-list-wrap .list-wrap .nape:first-child{cursor:pointer}
.draft-list-wrap .list-wrap .nape:first-child:hover{color:#233FAB}
.draft-list-wrap .list-wrap .nape:last-child{padding-right:30px;text-align:right}
.draft-list-wrap .list-wrap .nape a{color:#666}
.draft-list-wrap .list-wrap .nape a:hover{color:#233FAB}