/*!src/components/header/header.scss*/
.draft-header{background-color:#fff}
.draft-header .head{position:relative;height:110px;background-color:#fff}
.draft-header .head .login-link-nav{position:absolute;z-index:333;height:70px;line-height:70px;top:150px;right:0}
.draft-header .head .login-link-nav .login-a{margin-right:20px}
.draft-header .head-logo{width:500px;height:100%;cursor:pointer;background-image:url(/prototype/people-just-to-collect/static/assets/images/logo.png);background-repeat:no-repeat;background-position:left center}
.draft-header .head-r{width:220px}
.draft-header .head-icon{margin-top:28px;margin-left:20px;width:100%;height:32px}
.draft-header .head-icon .head-icon-item{float:left;margin-right:26px;width:24px;height:24px;cursor:pointer}
.draft-header .head-icon .head-icon-item.wb{background:url(/prototype/people-just-to-collect/static/assets/images/icon_1.png) no-repeat center center}
.draft-header .head-icon .head-icon-item.wx{background:url(/prototype/people-just-to-collect/static/assets/images/icon_2.png) no-repeat center center}
.draft-header .head-icon .head-icon-item.tl{background:url(/prototype/people-just-to-collect/static/assets/images/icon_3.png) no-repeat center center}
.draft-header .head-form{width:100%;height:28px;background-color:#eee;border-radius:14px}
.draft-header .head-form .iconfont{width:28px;height:28px;cursor:pointer;line-height:28px;text-align:center}
.draft-header .head-form .head-input{padding-left:18px;width:calc(100% - 28px);height:28px;line-height:28px;font-size:12px;background-color:transparent;outline:0;border:0}
.head-nav{width:100%;min-width:1100px;height:40px;line-height:38px;background:url(/prototype/people-just-to-collect/static/assets/images/nav_bg.jpg) repeat-x}
.head-nav .menu-nav{margin:0 auto;height:100%;padding:0;list-style:none}
.head-nav .menu-nav li{position:relative;float:left;width:108px;line-height:40px;text-align:center;border-right:1px solid #fff}
.head-nav .menu-nav li a{display:block;width:100%;height:100%;color:#fff;font-size:18px;font-weight:700}
.head-nav .menu-nav li a.active{position:relative;color:#9DD3FF}
.head-nav .menu-nav li a.active::after{position:absolute;left:50%;margin-left:-8px;bottom:0;width:16px;height:10px;content:'';border:8px solid transparent;border-bottom:5px solid #fff}
.head-nav .menu-nav li a:hover{position:relative;color:#9DD3FF}
.head-nav .menu-nav li a:hover::after{position:absolute;left:50%;margin-left:-8px;bottom:0;width:16px;height:10px;content:'';border:8px solid transparent;border-bottom:5px solid #fff}
.login-wrap{margin:200px auto 0;width:460px}
.login-box{position:relative;padding:30px 40px;height:520px;background-color:#fff;border-radius:0}
.login-box .login-close{position:absolute;right:0;top:0;width:50px;height:50px;line-height:50px;text-align:center;font-size:24px}
.login-box .login-close:hover{color:#233FAB}
.login-box .login-header{padding:10px 0 30px;line-height:1;text-align:center;font-size:20px;font-weight:700;color:#222}
.login-box .form-item{padding-bottom:20px;width:100%;height:auto}
.login-box .login-input-wrap{width:100%;height:40px;background-color:#F2F2F2}
.login-box .enter-phone .select{width:70px;height:40px;border:0}
.login-box .enter-phone .select select{border:0;background-color:#F2F2F2}
.login-box .code-wrap{width:calc(100% - 130px)}
.login-box .input-box{width:calc(100% - 70px);height:100%}
.login-box .login-label{width:70px;line-height:40px;text-align:center}
.login-box .login-input{width:100%;height:100%;background-color:transparent;border:0;outline:0}
.login-box .get-code{width:110px;height:40px;line-height:40px;text-align:center;color:#fff;background-color:rgba(35,63,171,.3)}
.login-box .hint{margin-bottom:40px;font-size:14px;color:#999}
.login-box .login-btn{width:100%;height:40px;cursor:pointer;color:#fff;text-align:center;background-color:#233FAB;outline:0;border:1px solid transparent}
.login-box .login-btn:hover{opacity:.8}
.login-box .visitor-login-wrap{padding:20px 0 60px;text-align:center}
.login-box .visitor-login{font-size:14px;color:#233FAB}
.login-box .visitor-login:hover{color:#ec4040}
.login-box .third-party{text-align:center;font-size:12px;color:#999}
.login-box .login-way-wrap{padding-top:20px;text-align:center;line-height:1}
.login-box .login-way .iconfont{font-size:40px;color:#ccc}
.login-box .login-way:hover .iconfont,.login-box .login-way.active .iconfont{color:#09BB07}
.login-box .login-way:first-child{margin-right:100px}
/*!src/pages/draft/full-draft.scss*/
.darft-activity-wrap{padding-bottom:20px;width:100%;height:auto}
.draft-btn{padding:6px 28px;cursor:pointer;border:0;outline:0;color:#fff;background-color:#233FAB}
.draft-btn:hover{opacity:.6}
.activity-entry{width:240px;height:auto;background-color:#fff}
.activity-entry .entry-title{padding:21px 32px;font-size:16px;font-weight:700;color:#222}
.activity-entry .entry-link-wrap{padding-bottom:15px;width:100%}
.activity-entry .entry-link-wrap .entry-link{display:block;padding:15px 32px;color:#666}
.activity-entry .entry-link-wrap .entry-link.active{position:relative;color:#233FAB;background-color:rgba(126,148,255,.1)}
.activity-entry .entry-link-wrap .entry-link.active::after{position:absolute;width:4px;right:0;top:0;bottom:0;content:'';background-color:#233FAB}
.activity-content{width:calc(100% - 270px);background-color:#fff;min-height:600px}
.full-draft-content{position:relative;padding:15px 60px 60px;width:100%}
.full-draft-content .h3{text-align:center;font-size:24px;font-weight:700;color:#222}
.full-draft-content .subhead{padding-bottom:26px;display:flex;font-size:12px;color:#999;justify-content:space-between}
.full-draft-content p{line-height:2;font-size:14px;color:#666}
.full-draft-content .p-title{color:#222}
.full-draft-content .topic-wrap{width:60%;height:auto;font-size:16px;color:#222}
.full-draft-content .options{padding:25px 14px 0;width:100%;height:auto}
.full-draft-content .option-item{margin-bottom:24px;width:148px;line-height:16px;cursor:pointer}
.full-draft-content .option-item .ball{margin-right:10px;display:inline-block;vertical-align:middle;width:16px;height:16px;border:1px solid #707070;border-radius:50%}
.full-draft-content .option-item.active .ball{position:relative;border:1px solid #233FAB}
.full-draft-content .option-item.active .ball::after{position:absolute;left:2px;top:2px;bottom:2px;right:2px;content:'';background-color:#233FAB;border-radius:50%}
.full-draft-content .option-item .answer{font-size:14px}
.full-draft-content .textarea-wrap{padding-top:10px}
.full-draft-content .btn-wrap{padding-top:40px}
.full-draft-content .draft-chart-wrap{padding:20px 0;width:100%;height:auto;text-align:center}
.full-draft-content .draft-chart-wrap .chart-bar{margin:0 auto;width:400px;height:200px}
.full-draft-content .explain-text-wrap{width:100%;height:auto}
.full-draft-content .explain-text-wrap .chapter,.full-draft-content .explain-text-wrap .article{padding-bottom:14px;font-size:14px;color:#222}
.full-draft-content .explain-text-wrap .info{padding-bottom:14px;line-height:2;font-size:14px}
.full-draft-content .chapter-page{width:100%;height:auto}
.full-draft-content .chapter-page .number{margin-right:10px;color:#222}
.full-draft-content .chapter-page .new-clockwork{padding-bottom:20px;font-size:14px}
.full-draft-content .chapter-page .old-clockwork{font-size:14px;color:#999}
.full-draft-content .chapter-page .contrast-old{margin-right:40px;height:62px;line-height:62px;cursor:pointer}
.full-draft-content .chapter-page .contrast-old .iconfont{margin-right:4px;font-size:20px;vertical-align:middle}
.full-draft-content .chapter-page .contrast-old.active,.full-draft-content .chapter-page .contrast-old:hover{color:#233FAB}
.full-draft-content .chapter-page .contrast-old.active .iconfont,.full-draft-content .chapter-page .contrast-old:hover .iconfont{color:#233FAB}
.full-draft-content .chapter-page .leave-comments{height:62px;line-height:62px;cursor:pointer}
.full-draft-content .chapter-page .leave-comments .iconfont{margin-right:4px;font-size:20px;vertical-align:middle}
.full-draft-content .chapter-page .leave-comments.active,.full-draft-content .chapter-page .leave-comments:hover{color:#233FAB}
.full-draft-content .chapter-page .leave-comments.active .iconfont,.full-draft-content .chapter-page .leave-comments:hover .iconfont{color:#233FAB}
.full-draft-content .chapter-page .support{margin-right:40px;height:60px;line-height:60px;cursor:pointer;font-size:14px}
.full-draft-content .chapter-page .support .iconfont{margin-right:4px;font-size:20px;vertical-align:middle}
.full-draft-content .chapter-page .support.active,.full-draft-content .chapter-page .support:hover .iconfont{color:#233FAB}
.full-draft-content .chapter-page .oppose{height:60px;line-height:60px;cursor:pointer;font-size:14px}
.full-draft-content .chapter-page .oppose .iconfont{margin-right:4px;font-size:20px;vertical-align:middle}
.full-draft-content .chapter-page .oppose.active,.full-draft-content .chapter-page .oppose:hover .iconfont{color:#233FAB}
.full-draft-content .chapter-page .btn-comment-wrap{padding-top:10px;text-align:right}
.full-draft-content .chapter-page .btn-comment-wrap .btn-hollow{display:inline-block;padding:6px 28px;line-height:1.5;color:#233FAB}
.full-draft-content .chapter-page .btn-comment-wrap .btn-hollow:first-child{margin-right:10px}
.full-draft-content .chapter-page .btn-comment-wrap .btn-hollow:hover{color:#fff;background-color:#233FAB}
.full-draft-content .chapter-page .btn-comment-wrap .btn-hollow.btn-active{color:#fff;background-color:#233FAB}
.full-draft-content .chapter-page .btn-comment-wrap .btn-hollow.btn-active:hover{opacity:.8}
.full-draft-content .chapter-page .comment-chapter{margin-bottom:40px;padding-bottom:40px;border-bottom:1px solid #E6E6E6}
.full-draft-content .chapter-page .submit-text .textarea{height:200px}
.full-draft-content .chapter-page .flip-over-wrap{padding-top:20px}
.full-draft-content .chapter-page .flip-over-wrap .flip-over{color:#233FAB}
.full-draft-content .chapter-page .flip-over-wrap .flip-over:hover{color:#ec4040}
.chapter-nav-box{position:fixed;left:50%;top:50%;margin-left:580px;width:240px;height:260px;border-bottom:1px solid transparent}
.chapter-nav-box:hover{border-bottom-color:#ccc}
.chapter-nav-box:hover .chapter-nav-title{border-bottom-color:#ccc}
.chapter-nav-box:hover .chapter-nav-body{overflow-y:scroll}
.chapter-nav-box .chapter-nav-title{padding:20px;color:#222;font-size:16px;font-weight:700;border-bottom:1px solid transparent}
.chapter-nav-box .chapter-nav-body{width:100%;height:calc(100% - 65px);overflow:hidden}
.chapter-nav-box .nav-anchor{position:relative;display:block;padding:15px 20px}
.chapter-nav-box .nav-anchor .iconfont{display:none;position:absolute;left:-2px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.chapter-nav-box .nav-anchor:hover,.chapter-nav-box .nav-anchor.active{color:#233FAB}
.chapter-nav-box .nav-anchor:hover .iconfont,.chapter-nav-box .nav-anchor.active .iconfont{display:block}
.comment-on-success-msg{z-index:999;position:fixed;padding:30px;width:100%;bottom:0;left:0;font-size:16px;text-align:center;color:#fff;background-color:#233FAB;-webkit-transform:translateY(84px);transform:translateY(84px);transition:all .2s}
.comment-on-success-msg.showmsg{-webkit-transform:translateY(0);transform:translateY(0)}
.comment-info{padding:10px 20px;background-color:#f2f2f2;border-radius:3px;color:#999}
/*!src/components/footer/footer.scss*/
.footer-main{padding-top:20px;height:136px;background-color:#fff}
.footer-main .footer-l{width:200px;height:100%;-webkit-transform:translateY(-10px);transform:translateY(-10px);background-image:url(/prototype/people-just-to-collect/static/assets/images/footer-l-logo.png);background-position:60px center;background-repeat:no-repeat}
.footer-main .footer-center{width:calc(100% - 400px);line-height:2}
.footer-main .footer-center .center-ul{padding:0 0 5px;margin:0;list-style:none;text-align:center}
.footer-main .footer-center .center-link{display:inline;padding:0 20px;line-height:1;border-right:1px solid #ccc}
.footer-main .footer-center .center-link a{color:#222;text-decoration:none;font-size:15px}
.footer-main .footer-center .center-link a:hover{color:#233FAB}
.footer-main .footer-center .footer-p{margin:0;padding:0;text-align:center;color:#222;font-size:13px}
.footer-main .footer-center .footer-code{text-align:center}
.footer-main .footer-center .code-link{color:#999}
.footer-main .footer-r{width:200px;height:100%;-webkit-transform:translateY(-10px);transform:translateY(-10px);background-image:url(/prototype/people-just-to-collect/static/assets/images/footer-r-logo.png);background-position:60px center;background-repeat:no-repeat}
/*!src/pages/regulation/regulation-list.scss*/
.regulation-list-wrap .regulation-list-table{padding:0 30px 20px}
.regulation-list-wrap .regulation-list-table .hd-nape:last-child,.regulation-list-wrap .regulation-list-table .nape:last-child{text-align:left}
.regulation-list-wrap .regulation-query{padding:30px 30px 0;background-color:#fff}
.regulation-list-wrap .regulation-query .input-wrap{margin-right:40px;padding-bottom:24px}
.regulation-list-wrap .regulation-query .input-wrap .label{margin-right:10px;height:40px;line-height:40px;font-size:14px;font-weight:400;color:#666}
.regulation-list-wrap .regulation-query .input-wrap .input-select{width:108px}
.regulation-list-wrap .regulation-query .input-wrap .input-box{width:220px}
.regulation-list-wrap .regulation-query .input-wrap .input{height:40px}
.regulation-list-wrap .regulation-query .query-btn-wrap{padding-bottom:24px}
.regulation-list-wrap .regulation-query .query-btn-wrap .query-btn{display:inline-block;width:90px;height:40px;line-height:40px;text-align:center;color:#fff;background-color:#233FAB}
.regulation-list-wrap .regulation-query .query-btn-wrap .query-btn .iconfont{margin-right:4px;font-size:16px;vertical-align:middle}
.regulation-list-wrap .regulation-query .query-btn-wrap .query-btn:hover{opacity:.8}
.regulation-list-wrap .paging-wrap{padding:0 30px 40px;width:100%;line-height:40px;background-color:#fff;color:#666;text-align:right}
.regulation-list-wrap .paging-wrap .mr-10{margin-right:7px}
.regulation-list-wrap .paging-wrap .mr-20{margin-right:17px}
.regulation-list-wrap .paging-wrap .mr-30{margin-right:27px}
.regulation-list-wrap .paging-wrap .paging-box{display:inline-block}
.regulation-list-wrap .paging-wrap .paging-box a{margin-right:17px}
.regulation-list-wrap .paging-wrap .paging-box a:last-child{margin-right:0}
.regulation-list-wrap .paging-wrap .total{margin-right:17px;color:#233FAB}
.regulation-list-wrap .paging-wrap .select{width:64px;vertical-align:middle}
.regulation-list-wrap a{color:#666}
.regulation-list-wrap a:hover,.regulation-list-wrap a.active{color:#233FAB}
.regulation-list-wrap .paging-input{width:64px;height:40px}
/*!src/pages/index/index.scss*/
html{width:100%;height:100%}
body{position:relative;width:100%;height:100%}
.draft-link-wrap{padding-bottom:20px;width:100%;height:auto}
.draft-link-wrap .draft-link-box{width:calc((100% - 32px)/2);height:120px;background-color:#666}